{{ define "dish-item" }}
<tr class="flex flex-col mb-4 sm:table-row">
  <td
    class="px-4 py-3 bg-gray-200 first:rounded-t-lg last:rounded-b-lg sm:first:rounded-t-none sm:last:rounded-b-none sm:first:rounded-tl-lg sm:first:rounded-bl-lg sm:last:rounded-tr-lg sm:last:rounded-br-lg"
  >
    <div>
      <h3 class="text-lg font-medium"><a href="{{ .Url }}">{{ .Name }}</a></h3>
      <div class="join">
        <span class="badge badge-primary badge-outline join-item"
          >{{ .UsageStats.Count }}x</span
        >
        {{if ge .UsageStats.DaysSince 0 }}
        <span class="badge badge-primary badge-outline join-item">
          {{ .UsageStats.DaysSince }}d</span
        >
        {{else}}
        <span class="badge badge-primary badge-outline join-item"> Never</span>
        {{end}}
      </div>
    </div>
  </td>

  <td
    class="px-4 py-3 bg-gray-200 first:rounded-t-lg last:rounded-b-lg sm:first:rounded-t-none sm:last:rounded-b-none sm:first:rounded-tl-lg sm:first:rounded-bl-lg sm:last:rounded-tr-lg sm:last:rounded-br-lg"
  >
    <div class="join join-horizontal lg:join-vertical">
      <button
        hx-post="/dish/{{.Id}}/use?ts={{.UsageOptions.WithinWeek.Id}}"
        class="btn btn-sm join-item bg-green-200"
      >
        {{ .UsageOptions.WithinWeek.Name }}
      </button>
      <button
        hx-post="/dish/{{.Id}}/use?ts={{.UsageOptions.Yesterday.Id}}"
        class="btn btn-sm join-item bg-green-300"
      >
        {{ .UsageOptions.Yesterday.Name }}
      </button>
      <button
        hx-post="/dish/{{.Id}}/use?ts={{.UsageOptions.Today.Id}}"
        class="btn btn-sm join-item bg-green-400"
      >
        {{ .UsageOptions.Today.Name }}
      </button>
    </div>
  </td>
  <td
    class="px-4 py-3 bg-gray-200 first:rounded-t-lg last:rounded-b-lg sm:first:rounded-t-none sm:last:rounded-b-none sm:first:rounded-tl-lg sm:first:rounded-bl-lg sm:last:rounded-tr-lg sm:last:rounded-br-lg"
  >
    <button
      class="btn btn-sm btn-square btn-outline btn-error self-end self-center"
      hx-delete="/dish/{{.Id}}"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </td>
</tr>
{{ end }}
