{{ define "dish-item" }}
<li
  class="flex items-center justify-between bg-base-100 rounded-lg p-4 shadow-md"
>
  <div class="flex items-center space-x-4">
    <div>
      <h3 class="text-lg font-medium"><a href="{{ .Url }}">{{ .Name }}</a></h3>
      <div class="join">
        <span class="badge badge-primary badge-outline join-item"
          >{{ .UsageStats.Count }}x</span
        >
        {{if ge .UsageStats.DaysSince 0 }}
        <span class="badge badge-primary badge-outline join-item">
          {{ .UsageStats.DaysSince }}d</span
        >
        {{else}}
        <span class="badge badge-primary badge-outline join-item"> Never</span>
        {{end}}
      </div>
    </div>
  </div>

  <div class="flex space-x-4">
    <div class="join">
      <button
        hx-post="/dish/{{.Id}}/use?ts={{.UsageOptions.WithinWeek.Id}}"
        class="btn join-item bg-green-200"
      >
        {{ .UsageOptions.WithinWeek.Name }}
      </button>
      <button
        hx-post="/dish/{{.Id}}/use?ts={{.UsageOptions.Yesterday.Id}}"
        class="btn join-item bg-green-300"
      >
        {{ .UsageOptions.Yesterday.Name }}
      </button>
      <button
        hx-post="/dish/{{.Id}}/use?ts={{.UsageOptions.Today.Id}}"
        class="btn join-item bg-green-400"
      >
        {{ .UsageOptions.Today.Name }}
      </button>
    </div>

    <button
      class="btn btn-square btn-outline btn-error self-end"
      hx-delete="/dish/{{.Id}}"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
</li>
{{ end }}
